* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    // background-color: red;   
}

@font-face {
    font-family: genral-sans;
    src: url(./assrts/GeneralSans-Regular.ttf) format(truetype);
}

@font-face {
    font-family: robot-mono;
    src: url(./assrts/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.ttf) format(truetype);
}

main {
    width: 100%;
    height: 100%;
}

.view-1 {
    width: 100%;
    padding: 1rem 1.5rem;

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            // width: 100%;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            h4 {
                display: none;
                font-family: 'robot-mono';
                font-weight: 200;
                opacity: .5;

            }

            #zero {
                display: initial;
                font-size: 1em;
                // text-align: center   ;
            }

            button {
                display: none;
            }

            i {
                font-size: 2.5em;
                font-family: 'robot-mono';
                // font-weight: 100;
                opacity: .5;
            }
        }
    }

    .top {
        width: 100%;
        // aspect-ratio: 1/1;
        margin-top: 1rem;
        font-family: 'robot-mono';
        text-transform: uppercase;

        img {
            width: 100%;
            object-fit: cover;
        }

        .txt {
            padding-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                font-weight: 200;
                font-size: .8em;
                opacity: .5;
                letter-spacing: 1px;
            }
        }
    }

    .center {
        width: 100%;
        aspect-ratio: 1/1;
        padding: 1rem 0 2rem 0;

        img {
            width: 100%;
            object-fit: cover;

        }
    }

    .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .top-part {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1 {
                font-family: 'genral-sans';
                text-transform: uppercase;
                font-weight: 400;
                font-size: 2.5em;
                opacity: .8;
                line-height: 1em;
            }

            p {
                font-family: 'robot-mono';
                opacity: .7;
                font-size: 1.2em;
            }
        }

        .bottom-part {

            width: 100%;

            .menu {
                width: 100%;
                align-items: center;
                justify-content: space-between;
                display: flex;
                font-family: 'genral-sans';
                text-transform: uppercase;
                opacity: .8;
                letter-spacing: 1px;
                border-bottom: 1px solid rgba(80, 80, 80, 0.418);
                padding: .8em;

                &:nth-child(4) {
                    border-bottom: 0px;
                }
            }
        }
    }
}

@media(min-width:900px) {

    .view-1 {
        // width: 100%;
        padding: 1rem 3.5rem;

        nav {
            // height: 5rem;
            // background-color: red;
            .right {


                h4 {
                    display: initial;
                    font-family: 'robot-mono';
                    font-weight: 200;
                    opacity: .5;
                    text-transform: uppercase;
                }

            }

            #toggle {
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2em;

                .ri-arrow-drop-down-line {
                    display: initial;
                }

                #zero {
                    display: initial;
                    font-size: 1em;
                    // text-align: center   ;
                }

                button {
                    display: none;
                }

                i {
                    font-size: 2.5em;
                    font-family: 'robot-mono';
                    // font-weight: 100;
                    display: none;
                    opacity: .5;
                }
            }
        }

        .top {
            width: 100%;
            // aspect-ratio: 1/1;
            margin-top: 1rem;
            font-family: 'robot-mono';
            text-transform: uppercase;

            img {
                width: 100%;
                object-fit: cover;
            }

            .txt {
                padding-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h4 {
                    font-weight: 200;
                    font-size: .8em;
                    opacity: .5;
                    letter-spacing: 1px;
                }
            }
        }

        .center {
            width: 100%;
            aspect-ratio: 1/1;
            padding: 1rem 0 2rem 0;

            img {
                width: 100%;
                object-fit: cover;

            }
        }

        .bottom {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .top-part {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h1 {
                    font-family: 'genral-sans';
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 2.5em;
                    opacity: .8;
                    line-height: 1em;
                }

                p {
                    font-family: 'robot-mono';
                    opacity: .7;
                    font-size: 1.2em;
                }
            }

            .bottom-part {

                width: 100%;

                .menu {
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    display: flex;
                    font-family: 'genral-sans';
                    text-transform: uppercase;
                    opacity: .8;
                    letter-spacing: 1px;
                    border-bottom: 1px solid rgba(80, 80, 80, 0.418);
                    padding: .8em;

                    &:nth-child(4) {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
}